{% extends "layout.html" %}
{% block content %}



    <div class="container login-container pb-5" style="height: 500px">
        <div class="row">
            <div class="col-md-6 login-form-3">
                <!--img-->
                <div class="about-avatar">
                    <img class="rounded-circle account-img" style="height: 300px; width: 300px" src="{{ url_for('static', filename='profile_pics/' + event.creator.image_file) }}">
                </div>
            </div>
            <div class="col-md-6 login-form-1">
                <div class="about-text go-to">
                    <h3 class="dark-color">{{ event.creator.name }}</h3>
                    <h6 class="theme-color lead text-center">{{ event.creator.email }}</h6>
                    <div class="row about-list pb-2">
                        <!-- account info-->
                        <div class="col">
                                <div class="media">
                                    <label>Phone</label>
                                    <p>{{ event.creator.telephone }}</p>
                                </div>
                                <div class="media">
                                    <label>City</label>
                                    <p>{{ event.creator.city }}</p>
                                </div>
                                <div class="media">
                                    <label>Address</label>
                                    {{ event.creator.address }}
                                </div>
                                <div class="media">
                                    <label>VAT</label>
                                    {{ event.creator.vat_number }}
                                </div>
                            </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock content %}