{% extends "layout.html" %}
{% block content %}
    <div class="container">
        <div class="row text-center justify-content-center mb-5">
            <div class="col-xl-6 col-lg-8 pt-5">
                <h2 class="font-weight-bold">Our customers reviews</h2>
                <p class="text-muted">A notice board full of reviews made by our loyal customers!</p>
            </div>
        </div>


        <section class="hero">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 offset-lg-3">
                        {% for post in posts.items %}
                        <div class="cardbox shadow-lg bg-white p-3">
                            <div class="cardbox-heading">
                                <div class="media m-0">
                                    <div class="d-flex m-1">
                                        <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
                                    </div>
                                    <div class="media-body">
                                        <a class="mr-2" href="{{ url_for('users.user_posts', username=post.author.username) }}">{{ post.author.username }}</a>
                                        <small><span><i class="icon ion-md-time"></i>{{ post.date_posted.strftime('%Y-%m-%d') }}</span></small>
                                    </div>
                                </div><!--/ media -->
                            </div><!--/ cardbox-heading -->
                            <div class="cardbox-item p-4">
                                <h2><a class="article-title" href="{{ url_for('posts.post', post_id=post.id) }}">{{ post.title }}</a></h2>
                                <p class="article-content">{{ post.content }}</p>
                            </div>
                        </div>
                        {% endfor %}
                    </div><!--/ col-lg-3 -->
                </div><!--/ row -->
            </div><!--/ container -->
        </section>

    </div>
{% endblock content %}