<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="/app/static/img/icon0.png">

    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

    {% if title %}
        <title>DinTOrni - {{ title }}</title>
    {% else %}
        <title>DinTOrni</title>
    {% endif %}
</head>
<body style="background-color: #E8E9EB; " >
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-light text-color:white fixed-top" style="background-color:#313638;">
        <div class="container">
          <a class="navbar-brand mr-4 text-white" href="/">
              <img src="app/static/img/icon_w.png" width="30" height="30" class="d-inline-block align-top" alt="">
              <img src="app/static/img/nome_w.png" width="30" height="30" class="d-inline-block align-top" alt="">
              DinTOrni
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link text-white" href="{{ url_for('main.home') }}">Home</a>
              <a class="nav-item nav-link text-white" href="{{ url_for('main.about') }}">About</a>
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
                {% if current_user.is_authenticated %}
                    <a class="nav-item nav-link text-white" href="{{ url_for('events.new_event') }}">New Event</a>
                    <a class="nav-item nav-link text-white" href="{{ url_for('posts.new_post') }}">New Post</a>
                    <a class="nav-item nav-link text-white" href="{{ url_for('users.account') }}">Account</a>
                    <a class="nav-item nav-link text-white" href="{{ url_for('users.account_business') }}">Account Business</a>
                    <a class="nav-item nav-link text-white " href="{{ url_for('users.logout') }}">Logout</a>
                    <a class="nav-item nav-link text-white" href="{{ url_for('users.user_events') }}">My Events</a>
                    <a class="nav-item nav-link text-white" href="{{ url_for('users.events_created') }}">Events Created</a>
                {% else %}
              <a class="nav-item nav-link text-white" href="{{ url_for('users.login') }}">Login</a>
              <a class="nav-item nav-link text-white"  href="{{ url_for('users.general') }}">Registration</a>

              {% endif %}
            </div>
          </div>
        </div>
      </nav>
    </header>

    <main role="main" class="container" >
      <div class="row">
        <div class="col-lg-12">
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <!-- se il messaggio non è vuoto-->
              {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
          {% block content %}{% endblock %}
        </div>
      </div>


    </main>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<footer class="text-center text-white" style="background-color: #F06543">
  <!-- Grid container -->
  <div class="container p-1pb-0">
    <!-- Section: Form -->
    <section class="mt-2 mb-0 pt-2 pb-2">
      <form action="">
        <!--Grid row-->
        <div class="row d-flex mt-1 pt-1 mb-0 justify-content-center" style="margin-top: 10px; margin-bottom: 10px">
          <!--Grid column-->
          <div class="col-auto">
            <p class="pt-2">
              <strong>Sign up for our newsletter</strong>
            </p>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-md-5 col-12">
            <!-- Email input -->
            <div class="form-outline form-white mb-4">
              <input type="email" id="form5Example29" class="form-control" />
              <label class="form-label" for="form5Example29">Email address</label>
            </div>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-auto">
            <!-- Submit button -->
            <button type="submit" class="btn btn-outline-light mb-4">
              Subscribe
            </button>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </form>
    </section>
    <!-- Section: Form -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    ©️ 2022 Copyright:
    <a class="text-white" href="{{ url_for('main.home') }}"> www.dinTOrni.it</a>
  </div>
  <!-- Copyright -->
</footer>
</body>


</html>