{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
      <div class="media">
          <!-- dove ha la foto profilo -->
<img class="rounded-circle account-img" src="{{ image_event }}"> <!-- gli passo la variabile dell'immagine-->
        <div class="media-body">
          <h2 class="account-heading">{{ event.title}}</h2>
          <p class="text-secondary">{{ current_user.name }}</p>
        </div>
      </div>
        <form method="POST" action="" enctype="multipart/form-data"> <!-- importante perchè l'immagine vada-->
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Event Info</legend>
            <div class="form-group">
                    {{ form.title.label(class="form-control-label") }}

                    {% if form.title.errors %}
                        {{ form.title(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.title.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.title(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

            <div class="form-group">
                    {{ form.date.label(class="form-control-label") }}
                    {% if form.date.errors %}
                        {{ form.date(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.date.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.date(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.location.label(class="form-control-label") }}

                    {% if form.location.errors %}
                        {{ form.location(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.location.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.location(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.content.label(class="form-control-label") }}
                    {% if form.content.errors %}
                        {{ form.content(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.content.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.content(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

            <div class="form-group">
                    {{ form.price.label(class="form-control-label") }}
                    {% if form.price.errors %}
                        {{ form.price(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.price.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.price(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

            <div class="form-group">
                    {{ form.equipment.label(class="form-control-label") }}
                    {% if form.equipment.errors %}
                        {{ form.equipment(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.equipment.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.equipment(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

            <div class="form-group">
                    {{ form.min_users.label(class="form-control-label") }}
                    {% if form.min_users.errors %}
                        {{ form.min_users(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.min_users.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.min_users(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

            <div class="form-group">
                    {{ form.weaknesses.label(class="form-control-label") }}
                    {% if form.weaknesses.errors %}
                        {{ form.weaknesses(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.weaknesses.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.weaknesses(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                        {{ form.picture1(class="form-control-file") }}
                        {% if form.picture1.errors %}
                            {% for error in form.picture1.errors %}
                                <span class="text-danger">{{ error }}</span></br>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.picture2(class="form-control-file") }}
                        {% if form.picture2.errors %}
                            {% for error in form.picture2.errors %}
                                <span class="text-danger">{{ error }}</span></br>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.picture3(class="form-control-file") }}
                        {% if form.picture3.errors %}
                            {% for error in form.picture3.errors %}
                                <span class="text-danger">{{ error }}</span></br>
                            {% endfor %}
                        {% endif %}
                    </div>

            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>

          <div>

            <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Delete</button> <!-- bootstrap button-->
          </div>

    </div>
              <!-- delete Modal preso da bootstrap-->
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Delete Event?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <form action="{{ url_for('events.delete_event', event_id=event.id) }}" method="POST">
            <input class="btn btn-danger" type="submit" value="Delete"> <!-- il btn-danger è per farlo rosso -->
          </form>
        </div>
      </div>
    </div>
  </div>











    <div class="container contact-form pt-0 mt-5">
        <div class="contact-image">
            <img src="{{ url_for('static', filename='img/' + 'icon0.png') }}"/>
        </div>
        <form method="post">
            {{ form.hidden_tag() }}
            <h3 class="" style="color: #313638">Update your event</h3>
            <div class="justify-content-center">
                <img class="rounded-circle account-img" src="{{ image_event }}">
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <!--<input type="text" name="txtName" class="form-control" placeholder="Your Name *" value="" />-->
                        {% if form.title.errors %}
                            {{ form.title(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.title.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.title(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {% if form.price.errors %}
                            {{ form.price(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.price.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.price(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {% if form.equipment.errors %}
                            {{ form.equipment(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.equipment.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.equipment(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {% if form.min_users.errors %}
                            {{ form.min_users(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.min_users.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.min_users(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {% if form.weaknesses.errors %}
                            {{ form.weaknesses(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.weaknesses.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.weaknesses(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>

                    <div class="form-group">
                        {{ form.picture1(class="form-control-file") }}
                        {% if form.picture1.errors %}
                            {% for error in form.picture1.errors %}
                                <span class="text-danger">{{ error }}</span></br>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.picture2(class="form-control-file") }}
                        {% if form.picture2.errors %}
                            {% for error in form.picture2.errors %}
                                <span class="text-danger">{{ error }}</span></br>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.picture3(class="form-control-file") }}
                        {% if form.picture3.errors %}
                            {% for error in form.picture3.errors %}
                                <span class="text-danger">{{ error }}</span></br>
                            {% endfor %}
                        {% endif %}
                    </div>


                    <div class="form-group">
                        {{ form.submit(class="btnSubmit text-white", style="background: #F06543") }}
                    </div>
                </div>
                <div class="col-md-6">
                <div class="form-group">
                    {% if form.date.errors %}
                        {{ form.date(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.date.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.date(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {% if form.location.errors %}
                        {{ form.location(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.location.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.location(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    <!--<textarea name="txtMsg" class="form-control" placeholder="Your Message *" style="width: 100%; height: 150px;"></textarea>-->
                    {% if form.content.errors %}
                        {{ form.content(class="form-control form-control-lg is-invalid", style="height: 200px") }}
                        <div class="invalid-feedback">
                            {% for error in form.content.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.content(class="form-control form-control-lg", style="height: 200px") }}
                    {% endif %}
                </div>
            </div>
            </div>
        </form>
    </div>


{% endblock content %}