{% extends "layout.html" %}
{% block content %}
    <div class="container login-container pb-5 mb-0" style="height: 800px">
        <div class="row justify-content-center pb-5" >
            <div class="col pr-0 pl-0 pb-5 login-form-1">
                <h3 class="pb-3">You will reach the event by car!</h3>
                    <div>
                        <p class="text-center font-weight-light">Congratulation, your choice is the most sustainable!</p>
                        <p class="text-center font-weight-light">We'll contact you by email when someone will share his/her car.</p>
                        <p class="text-center font-weight-light">See you there!</p>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
