<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="container login-container pb-5 mb-0">
        <div class="row justify-content-center pb-5">
            <div class="col pr-0 pl-0 pb-5 login-form-1">
                <h3 class="pb-3">You will reach the event by bus!</h3>
                    <div>
                        <p class="text-center font-weight-light">Congratulation, your choice is the most sustainable!</p>
                        <p class="text-center font-weight-light">The bus will leave on the date of the event from Turin. <br>For more information you can contact the transport company:</p>
                        <p class="text-center font-weight-light">+39 333 5657892</p>
                        <p class="text-center font-weight-light">See you there!</p>
                    </div>
                </div>
            </div>
        </div>
</body>
</html>