{% extends "layout.html" %}
{% block content %}
    <div class="container login-container pb-5 mb-0">
        <div class="row justify-content-center pb-5">
            <div class="col pr-0 pl-0 pb-5 login-form-1">
                <h3 class="pb-3">You will reach the event with someone's car!</h3>
                <h4 class="pb-3">{{ users.total }}</h4>

                <div class="">
                    {% for i in range(u_len) %}
                        <div class="container align-content-center align-center login-container" style="width: 95%; background-color: #FCE0D9;">
                            <div class="row justify-content-center">
                                <div class="col pr-0 pl-0 pb-5 login-form-1">
                                    <p class="text-center font-weight-light">{{ users[i].name }} {{ users[i].surname }}'s car is available!</p>
                                    <p class="text-center font-weight-light">Meeting details: {{ je_util[i].place }} at {{ je_util[i].time_hour }}:{{ je_util[i].time_minute }}</p>
                                    <p class="text-center font-weight-light">Number of seat still available: {{ je_util[i].number_of_sits }}
                                </div>
                                 <form action="{{ url_for('events.update_seats', event_id=je_util[i].event_id, user_id = je_util[i].user_id ) }}" method="POST">
                                    <input class="btn btn-danger" type="submit" value="Go!">
                                 </form>
                            </div>
                        </div>
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>
{% endblock %}