{% extends "layout.html" %}
{% block content %}
    <form method="POST" action="" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <label>Name</label>
                {% if form.name.errors %}
                    {{ form.name(class="form-control input-sm form-control-sm is-invalid") }}
                    {% for error in form.name.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                {% else %}
                    {{ form.name(class="form-control input-sm form-control-sm") }}
                {% endif %}

                <label>VAT</label>
                {% if form.vat_number.errors %}
                    {{ form.vat_number(class="form-control input-sm form-control-sm is-invalid") }}
                        {% for error in form.vat_number.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                {% else %}
                    {{ form.vat_number(class="form-control input-sm form-control-sm") }}
                {% endif %}

                <label>City</label>
                {% if form.city.errors %}
                    {{ form.city(class="form-control input-sm form-control-sm is-invalid") }}
                    {% for error in form.city.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                {% else %}
                    {{ form.city(class="form-control input-sm form-control-sm") }}
                {% endif %}
                    <label>Email</label>
                    {% if form.email.errors %}
                        {{ form.email(class="form-control input-sm is-invalid") }}
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                    {% else %}
                        {{ form.email(class="form-control input-sm form-control-sm") }}
                    {% endif %}

                    <label>Phone</label>
                    {% if form.telephone.errors %}
                        {{ form.telephone(class="form-control input-sm form-control-sm is-invalid") }}

                            {% for error in form.telephone.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                    {% else %}
                        {{ form.telephone(class="form-control input-sm form-control-sm") }}
                    {% endif %}


                    <label>Address</label>
                    {% if form.address.errors %}
                        {{ form.address(class="form-control input-sm form-control-sm is-invalid") }}
                            {% for error in form.address.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}

                    {% else %}
                        {{ form.address(class="form-control input-sm form-control-sm") }}
                    {% endif %}
            <div class="form-group justify-content-center align-center">
                {{ form.picture(class="form-control-file pt-2") }}
                {% if form.picture.errors %}
                    {% for error in form.picture.errors %}
                        <span class="text-danger">{{ error }}</span></br>
                    {% endfor %}
                {% endif %}
            </div>


        <div class="container">
                <
                    {{ form.submit(class="btnSubmit text-white", style="background: #F06543; width: 250px;") }}
        </div>
    </form>
{% endblock content %}