{% extends "layout.html" %}
{% block content %}

    <div class="container">
    <div class="row text-center justify-content-center mb-5">
        <div class="col-xl-6 col-lg-8 pt-5">
            <h2 class="font-weight-bold">Current events</h2>
        </div>
    </div>
    </div>

    {% if events.total!=0 %}
     <section>
        <div class="container">
            <div class="row justify-content-around">
                    {% for event in events %}
                        <div class="card" id="card_home" style="margin: 15px;">
                            <img class="card-img-top" style="width: 100%; height: 15vw; object-fit: cover;" src="{{ url_for('static', filename='profile_pics/' + event.image_event1) }}">
                            <div class="card-body align-center">
                                <div class="article-metadata">
                                    <a class="mr-2" href="{{ url_for('users.business_events', name=event.creator.name) }}">{{ event.creator.name }}</a>
                                    <small class="text-muted">{{ event.date_event.strftime('%Y-%m-%d') }}</small>
                                </div>
                                <h2><a class="article-title" href="{{ url_for('events.update_event', event_id=event.id) }}">{{ event.title }}</a></h2>
                                <p class="article-content">{{ event.content }}</p>
                            </div>
                        </div>
                    {% endfor %}
            </div>
        </div>
    </section>
    {% endif %}



<div class="container">
    <div class="row text-center justify-content-center mb-5">
        <div class="col-xl-6 col-lg-8 pt-5">
            <h2 class="font-weight-bold">Past events</h2>
        </div>
    </div>
</div>

{% if events_already_done.total!=0 %}
    <section>
        <div class="container pb-5">
            <div class="row justify-content-around">
                {% for event in events_already_done %}
                    <div class="card" id="card_home" style="margin: 15px;">
                        <img class="card-img-top" style="width: 100%; height: 15vw; object-fit: cover;" src="{{ url_for('static', filename='profile_pics/' + event.image_event1) }}">
                        <div class="card-body align-center">
                            <div class="article-metadata">
                                <a class="mr-2" href="{{ url_for('users.business_events', name=event.creator.name) }}">{{ event.creator.name }}</a>
                                <small class="text-muted">{{ event.date_event.strftime('%Y-%m-%d') }}</small>
                            </div>
                            <h2><a class="article-title" href="{{ url_for('events.update_event', event_id=event.id) }}">{{ event.title }}</a></h2>
                            <p class="article-content">{{ event.content }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endif %}


{% endblock content %}