{% extends "layout.html" %}
{% block content %}

        <div class="container login-container pb-5 mb-0">
        <div class="row justify-content-center pb-5">
            <div class="col pr-0 pl-0 pb-5 login-form-1">
                <h3 class="pb-3">You will reach the event by bus!</h3>
                    <div>
                        <p class="text-center font-weight-light">We are happy to have your car in our Dintorni's website!</p>
                        <p class="text-center font-weight-light">We will send you an email as soon as someone chooses your car!</p>
                        <p class="text-center font-weight-light">See you there!</p>
                    </div>
                </div>
            </div>
        </div>

{% endblock content %}