{% extends "layout.html" %}
{% block content%}
<div class="container contact-form pt-0 mt-5">
    <div class="contact-image">
        <img src="{{ url_for('static', filename='img/' + 'icon0.png') }}"/>
    </div>
    <form method="POST" action="" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <h3 class="" style="color: #313638">Your car info</h3>
         <div class="row">
             <div class="col-md-6">
                 <div class="form-group">
                 {{ form.time_hour.label(class="form-control-label") }}
                 {% if form.time_hour.errors %}
                     {{ form.time_hour(class="form-control form-control-lg is-invalid") }}
                     <div class="invalid-feedback">
                         {% for error in form.time_hour.errors %}
                             <span>{{ error }}</span>
                         {% endfor %}
                     </div>
                 {% else %}
                     {{ form.time_hour(class="form-control form-control-lg") }}
                 {% endif %}
                 </div>
             </div>
             <div class="col-md-6">
                 <div class="form-group">
                     {{ form.time_minute.label(class="form-control-label") }}
                     {% if form.time_minute.errors %}
                         {{ form.time_minute(class="form-control form-control-lg is-invalid") }}
                         <div class="invalid-feedback">
                             {% for error in form.time_minute.errors %}
                                 <span>{{ error }}</span>
                             {% endfor %}
                         </div>
                     {% else %}
                         {{ form.time_minute(class="form-control form-control-lg") }}
                     {% endif %}
                 </div>
             </div>
         </div>
         <div class="row">
             <div class="col-4">
                 <div class="form-group">
                     {{ form.place.label(class="form-control-label") }}
                     {% if form.place.errors %}
                         {{ form.place(class="form-control form-control-lg is-invalid") }}
                         <div class="invalid-feedback">
                             {% for error in form.place.errors %}
                                 <span>{{ error }}</span>
                             {% endfor %}
                         </div>
                     {% else %}
                         {{ form.place(class="form-control form-control-lg") }}
                     {% endif %}
                 </div>
                 <div class="form-group">
                     {{ form.number_of_sits.label(class="form-control-label") }}
                     {% if form.number_of_sits.errors %}
                         {{ form.number_of_sits(class="form-control form-control-lg is-invalid") }}
                         <div class="invalid-feedback">
                             {% for error in form.number_of_sits.errors %}
                                 <span>{{ error }}</span>
                             {% endfor %}
                         </div>
                     {% else %}
                         {{ form.number_of_sits(class="form-control form-control-lg") }}
                     {% endif %}
                 </div>
             </div>
             <div class="form-group">
                 {{ form.submit(class="btn btn-outline-info") }}
             </div>
         </div>
         </div>
    </form>
</div>
{% endblock content%}